@import url('./reset.css');
@import url('./assets/css/pretendardvariable.css');

html,
body,
button,
input,
select,
textarea {
    font-family: 'Pretendard', sans-serif;
}

body {
    background-color: #f9f9f9;
}